@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* { box-sizing: border-box; }

body {
    margin: 0;
    background: #efefef;
    font-family: "Kiwi Maru", serif;
    font-style: normal;
    font-size: 1.1em;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section > div {
    flex: 1;
    text-align: center;
    margin: auto;
}

.section-1 {
    height: 50vh;
    background-image: linear-gradient(45deg, #888, #000);
    color: #fff;
}

.section-1 img {
    height: 50vh;
    width: 50vw;
}

.section-1 h1 {
    font-size: 3em;
    background: -webkit-linear-gradient(pink, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-2 {
    height: 50vh;
    text-align: center;
    background: red;
}

.section-3 {
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(45deg, #0f0f0f, #09f);
}

a {
    display: inline-block;
    background: green;
    padding: 30px 60px;
    color: #fff;
    font-weight: 800;
    border-radius: 7px;
    border: solid 1px #aaa;
    margin: auto;
}

a:hover { background: red; }

input {
    width: 100%;
    margin: 20px 0;
}
